Repository poseidonos/poseidonos, pull requests merged in 2022-07, with the labels that each got.

#189 [AWIBOF-6516] Add dial (connection) timeout to gRPC CLI client
  tool/cli/cmd/globals/handler.go
  tool/cli/cmd/grpcmgr/grpcmgr.go
Labels: CLI

#191 [AWIBOF-6500] Add BackendEvent_JournalIO
  config/air.cfg
  config/air_ci.cfg
  src/cli/command_processor.cpp
  src/cli/update_event_wrr_policy_command.h
  src/device/unvme/unvme_drv.cpp
  src/event_scheduler/backend_event_minimum_policy.cpp
  src/event_scheduler/backend_event_ratio_policy.cpp
  src/include/backend_event.h
  src/metafs/storage/pstore/mss_io_completion.cpp
  src/metafs/storage/pstore/mss_io_completion.h
  src/metafs/storage/pstore/mss_on_disk.cpp
  test/unit-tests/metafs/storage/pstore/mss_io_completion_test.cpp
Labels: Meta, AIR, IOPath

#181 [AWIBOF-6497] Add metrics for journal count and time spent
  config/ibofos_for_perf_ci.conf
  config/ibofos_for_perf_ci_single_numa.conf
  config/ibofos_for_perf_psd.conf
  config/ibofos_for_perf_psd_200GB.conf
  config/ibofos_for_psd_ci.conf
  config/ibofos_for_psd_ci_wt.conf
  config/ibofos_for_vm_ci.conf
  config/ibofos_for_vm_ci_wt.conf
  config/pos.conf
  config/pos_for_aws.conf
  config/pos_for_pm_qos.conf
  config/pos_multi_array_normal.conf
  config/pos_multi_array_perf.conf
  doc/development/telemetry/METRICS.md
  src/journal_manager/config/journal_configuration.cpp
  src/journal_manager/config/journal_configuration.h
  src/journal_manager/journal_manager.cpp
  src/journal_manager/log_buffer/log_write_context.h
  src/journal_manager/log_write/log_write_handler.cpp
  src/journal_manager/log_write/log_write_handler.h
  src/master_context/default_configuration.h
  src/telemetry/telemetry_id.h
  test/unit-tests/journal_manager/config/journal_configuration_test.cpp
  test/unit-tests/journal_manager/log_write/log_write_handler_mock.h
  test/unit-tests/journal_manager/log_write/log_write_handler_test.cpp
Labels: Meta, telemetry

#192 [AWIBOF-6531] Increase CLI request timeout to 90 seconds
  tool/cli/cmd/grpcmgr/grpcmgr.go
Labels: CLI

#184 [SHPOS-752] Fixed serial number was generated in the wrong form durin…
  src/cli/create_subsystem_command.cpp
Labels: IOPath

#193 [AWIBOF-6542] Apply wrr to MetaFsIoScheduler and MpioHandler
  src/metafs/config/metafs_config_manager.h
  src/metafs/metafs_service.cpp
  src/metafs/mim/metafs_io_scheduler.cpp
  src/metafs/mim/metafs_io_scheduler.h
  src/metafs/mim/mio_handler.cpp
  src/metafs/mim/mpio_handler.cpp
  src/metafs/mim/mpio_handler.h
  test/integration-tests/metafs/lib/metafs_test_fixture.cpp
  test/unit-tests/metafs/config/metafs_config_manager_mock.h
  test/unit-tests/metafs/config/metafs_config_manager_test.cpp
  test/unit-tests/metafs/mim/meta_io_manager_test.cpp
  test/unit-tests/metafs/mim/metafs_io_scheduler_test.cpp
  test/unit-tests/metafs/mim/mio_handler_test.cpp
  test/unit-tests/metafs/mim/mpio_handler_test.cpp
Labels: Meta

#194 [AWIBOF-6541] Add number_of_log_groups config for journal
  config/ibofos_for_perf_ci.conf
  config/ibofos_for_perf_ci_single_numa.conf
  config/ibofos_for_perf_psd.conf
  config/ibofos_for_perf_psd_200GB.conf
  config/ibofos_for_psd_ci.conf
  config/ibofos_for_psd_ci_wt.conf
  config/ibofos_for_vm_ci.conf
  config/ibofos_for_vm_ci_wt.conf
  config/pos.conf
  config/pos_for_aws.conf
  config/pos_for_pm_qos.conf
  config/pos_multi_array_normal.conf
  config/pos_multi_array_perf.conf
  src/journal_manager/config/journal_configuration.cpp
  src/journal_manager/config/journal_configuration.h
  src/master_context/default_configuration.h
  test/unit-tests/journal_manager/config/journal_configuration_test.cpp
Labels: Meta

#195 [AWIBOF-6529] Add journal type to telemetry air delegator
  doc/development/telemetry/METRICS.md
  src/telemetry/telemetry_air/telemetry_air_delegator.cpp
  src/telemetry/telemetry_id.h
Labels: Meta, telemetry

#198 [AWIBOF-6555] Fix typo in log message
  src/logger/logger.h
Labels: bug, log

#200 [AWIBOF-6559] Add a design diagram for management architecture
  doc/designs/management_architecture.md
Labels: documentation

#202 [AWIBOF-6508] Add telemetry count for Backend
  config/air.cfg
  config/air_ci.cfg
  doc/development/telemetry/METRICS.md
  src/bio/ubio.cpp
  src/bio/volume_io.cpp
  src/device/unvme/unvme_drv.cpp
  src/event_scheduler/backend_event_ratio_policy.cpp
  src/event_scheduler/callback.cpp
  src/event_scheduler/event.cpp
  src/io_scheduler/io_worker.cpp
  src/telemetry/telemetry_air/telemetry_air_delegator.cpp
  src/telemetry/telemetry_id.h
Labels: telemetry, IOPath

#205 [AWIBOF-6503] add frontend io_raw telemetry metric
  config/air.cfg
  config/air_ci.cfg
  doc/development/telemetry/METRICS.md
  src/admin/admin_command_handler.cpp
  src/io/frontend_io/aio.cpp
  src/io/frontend_io/read_completion.cpp
  src/io/frontend_io/read_completion_for_partial_write.cpp
  src/io/frontend_io/read_submission.cpp
  src/io/frontend_io/unvmf_io_handler.cpp
  src/io/frontend_io/write_completion.cpp
  src/io/frontend_io/write_submission.cpp
  src/telemetry/telemetry_air/telemetry_air_delegator.cpp
  src/telemetry/telemetry_id.h
Labels: telemetry, IOPath

#206 [AWIBOF-6630] Change DELETESUBSYSTEM command to gRPC
  proto/cli.proto
  proto/generated/cpp/cli.grpc.pb.cc
  proto/generated/cpp/cli.grpc.pb.h
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  src/cli/command_processor.cpp
  src/cli/command_processor.h
  src/cli/grpc_cli_server.cpp
  src/include/pos_event_id.h
  tool/cli/cmd/grpcmgr/grpcmgr.go
  tool/cli/cmd/subsystemcmds/delete_subsystem.go
Labels: log, CLI

#208 [AWIBOF-6621] Fix coverity issues
  src/journal_manager/config/journal_configuration.cpp
  src/journal_manager/config/journal_configuration.h
  src/journal_manager/replay/active_wb_stripe_replayer.cpp
  src/rocksdb_log_buffer/rocksdb_log_buffer.cpp
Labels: Meta

#209 [AWIBOF-6630] Change ADDLISTENER command to gRPC
  proto/cli.proto
  proto/generated/cpp/cli.grpc.pb.cc
  proto/generated/cpp/cli.grpc.pb.h
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  src/cli/command_processor.cpp
  src/cli/command_processor.h
  src/cli/grpc_cli_server.cpp
  src/include/pos_event_id.h
  tool/cli/cmd/grpcmgr/grpcmgr.go
  tool/cli/cmd/subsystemcmds/add_listener.go
Labels: log, CLI

#210 [AWIBOF-6624] Fix coding convention
  src/allocator/allocator.cpp
  src/allocator/context_manager/context_replayer.cpp
  src/allocator/wbstripe_manager/read_stripe.cpp
  src/allocator/wbstripe_manager/read_stripe_completion.cpp
  src/journal_manager/log_buffer/i_journal_log_buffer.h
  src/journal_manager/log_buffer/i_versioned_segment_context.h
  src/journal_manager/log_buffer/journal_log_buffer.cpp
  src/journal_manager/log_write/log_write_handler.cpp
  src/mapper/map/create_map_flush_event.cpp
  src/mapper/map/map_io_handler.cpp
  src/mapper/reversemap/reversemap_manager.cpp
  src/mapper/reversemap/reversemap_manager.h
  src/mapper/stripemap/stripemap_manager.cpp
  src/mapper/vsamap/vsamap_manager.cpp
  src/metafs/config/metafs_config_manager.h
  src/metafs/metafs_service.cpp
  src/metafs/mim/mio.cpp
  src/metafs/mvm/meta_volume_handler.h
  src/metafs/mvm/volume/inode_creator.cpp
  src/metafs/mvm/volume/inode_deleter.cpp
  src/metafs/storage/pstore/mss_on_disk.h
  src/rocksdb_log_buffer/rocksdb_log_buffer.cpp
  src/rocksdb_log_buffer/rocksdb_log_buffer.h
Labels: Meta

#185 [AWIBOF-5977] Update vanilla SPDK versino from v21.04 to V22.01.1
  Makefile
  lib/CMakeLists.txt
  lib/spdk-22.01.1.patch
  src/io/general_io/command_timeout_handler_test/command_timeout_handler_test.cpp
  src/spdk_wrapper/nvme.cpp
  test/CMakeLists.txt
  test/unit-tests/device/uram/uram_drv_test.cpp
  test/unit-tests/qos/qos_spdk_manager_test.cpp
  test/unit-tests/utils/spdk_util.cpp
  test/unit-tests/utils/spdk_util.h
Labels: IOPath

#207 [AWIBOF-6546] separate pending io type
  src/gc/copier_read_completion.cpp
  src/gc/gc_map_update_completion.cpp
  src/gc/victim_stripe.cpp
  src/io/frontend_io/aio.cpp
  src/io/frontend_io/unvmf_io_handler.cpp
  src/volume/i_volume_io_manager.h
  src/volume/i_volume_manager.h
  src/volume/volume_base.h
  src/volume/volume_deleter.cpp
  src/volume/volume_detacher.cpp
  src/volume/volume_list.cpp
  src/volume/volume_list.h
  src/volume/volume_manager.cpp
  src/volume/volume_manager.h
  src/volume/volume_mounter.cpp
  src/volume/volume_unmounter.cpp
  test/unit-tests/gc/copier_read_completion_test.cpp
  test/unit-tests/gc/victim_stripe_test.cpp
  test/unit-tests/volume/i_volume_io_manager_mock.h
  test/unit-tests/volume/i_volume_manager_mock.h
  test/unit-tests/volume/volume_manager_mock.h
Labels: I/O, IOPath

#213 [AWIBOF-6637] Add POS_TRACE that works when the status is changed
  src/include/pos_event_id.h
  src/io/frontend_io/block_map_update_request.cpp
  src/io/frontend_io/block_map_update_request.h
  src/journal_manager/journal_writer.cpp
  src/journal_manager/journal_writer.h
  src/logger/logger.h
  test/unit-tests/logger/logger_mock.h
  test/unit-tests/logger/logger_test.cpp
Labels: Meta

#220 [AWIBOF-6678] bug fix for pending io
  src/volume/volume_detacher.cpp
  src/volume/volume_list.cpp
  tool/dump/gdb_scripts/volume_io.py
Labels: I/O, IOPath

#221 [AWIBOF-6544] Remove unnecessary logs
  src/allocator/context_manager/block_allocation_status.cpp
Labels: Meta

#224 [AWIBOF-6557] Remove MetaFileAccessPattern and MetaFileDominant
  src/allocator/allocator.cpp
  src/journal_manager/config/journal_configuration.cpp
  src/mapper/map/map_content.cpp
  src/mapper/map/map_io_handler.cpp
  src/mapper/mapper.cpp
  src/mapper/mapper_wbt.cpp
  src/meta_file_intf/meta_file_intf.cpp
  src/meta_file_intf/meta_file_intf.h
  src/metafs/include/metafs_control_request.h
  src/metafs/include/mf_dataformat.h
  src/metafs/include/mf_property.h
  src/metafs/mai/metafs_file_control_api.cpp
  src/metafs/mai/metafs_file_control_api.h
  src/metafs/metafs_file_intf.cpp
  src/metafs/metafs_file_intf.h
  src/metafs/mvm/meta_volume_handler.cpp
  src/metafs/mvm/volume/mf_inode.cpp
  src/metafs/mvm/volume/mf_inode.h
  src/metafs/mvm/volume/mf_inode_req.h
  src/metafs/mvm/volume/nvram/nvram_meta_volume.cpp
  src/metafs/mvm/volume/nvram/nvram_meta_volume.h
  src/volume/volume_meta_intf.cpp
  src/wbt/wbt_metafs_cmd_handler.cpp
  test/integration-tests/journal/log_buffer_integration_test.cpp
  test/integration-tests/metafs/lib/rocksdb_test_metafs.h
  test/integration-tests/metafs/lib/test_metafs.h
  test/integration-tests/metafs/metafs_functional_test.cpp
  test/integration-tests/metafs/metafs_wbt_test.cpp
  test/script/wbtTestScript.sh
  test/unit-tests/allocator/allocator_test.cpp
  test/unit-tests/allocator/context_manager/allocator_file_io_test.cpp
  test/unit-tests/mapper/map/map_io_handler_test.cpp
  test/unit-tests/metafs/include/mf_dataformat_test.cpp
  test/unit-tests/metafs/mai/metafs_file_control_api_mock.h
  test/unit-tests/metafs/metafs_file_intf_test.cpp
  test/unit-tests/metafs/mim/metafs_io_handler_base_test.cpp
  test/unit-tests/metafs/mvm/volume/mf_inode_req_test.cpp
  test/unit-tests/metafs/mvm/volume/mf_inode_test.cpp
  test/unit-tests/metafs/mvm/volume/nvram/nvram_meta_volume_test.cpp
  tool/cli/cmd/wbt.go
  tool/cli/lib/pnconnector/src/routers/m9k/model/model.go
Labels: Meta

#227 [AWIBOF-6703] Fix display bug for LISTSUBSYSTEM command
  tool/cli/cmd/displaymgr/display_response.go
  tool/cli/cmd/subsystemcmds/list_subsystem.go
Labels: bug, CLI

#226 [AWIBOF-6699] move GrpcVolumeManagement construct point
  src/pos_replicator/grpc_volume_management.cpp
  src/pos_replicator/grpc_volume_management.h
  src/pos_replicator/posreplicator_manager.cpp
  src/pos_replicator/replicator_volume_subscriber.cpp
  src/pos_replicator/replicator_volume_subscriber.h
Labels: 2node-HA, grpc

#229 [AWIBOF-6709] relocated set_tls_thread_to_reactor
  lib/spdk-22.01.1.patch
Labels: IOPath

#212 [AWIBOF-6498] Fix log group reset method to modify only log footer
  src/journal_manager/checkpoint/log_group_releaser.cpp
  src/journal_manager/checkpoint/log_group_releaser.h
  src/journal_manager/log/log_buffer_parser.cpp
  src/journal_manager/log/log_group_footer.h
  src/journal_manager/log/log_list.cpp
  src/journal_manager/log/log_list.h
  src/journal_manager/log_buffer/log_group_footer_write_context.h
  src/journal_manager/log_buffer/reset_log_group.cpp
  src/journal_manager/log_buffer/reset_log_group.h
  src/journal_manager/log_write/buffer_offset_allocator.cpp
  src/journal_manager/replay/read_log_buffer.cpp
  src/journal_manager/replay/replay_log_list.cpp
  src/journal_manager/replay/replay_log_list.h
  test/integration-tests/journal/journal_manager_spy.cpp
  test/integration-tests/journal/journal_manager_spy.h
  test/integration-tests/journal/log_group_releaser_spy.h
  test/integration-tests/journal/replay_log_buffer_integration_test.cpp
  test/integration-tests/journal/rocksdb_replay_log_buffer_integration_test.cpp
  test/integration-tests/journal/utils/used_offset_calculator.cpp
  test/integration-tests/journal/utils/used_offset_calculator.h
  test/unit-tests/journal_manager/checkpoint/log_group_releaser_mock.h
  test/unit-tests/journal_manager/checkpoint/log_group_releaser_spy.h
  test/unit-tests/journal_manager/checkpoint/log_group_releaser_test.cpp
  test/unit-tests/journal_manager/log/log_buffer_parser_test.cpp
  test/unit-tests/journal_manager/log/log_list_mock.h
  test/unit-tests/journal_manager/log_buffer/reset_log_group_test.cpp
  test/unit-tests/journal_manager/log_write/buffer_offset_allocator_test.cpp
  test/unit-tests/journal_manager/replay/replay_log_list_mock.h
  test/unit-tests/journal_manager/status/i_checkpoint_status_mock.h
  test/unit-tests/journal_manager/status/journal_status_provider_test.cpp
Labels: Meta

#231 [AWIBOF-6713] Change subnqn to nqn in SUBSYSTEM commands
  proto/cli.proto
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  src/cli/command_processor.cpp
  tool/cli/cmd/displaymgr/display_response.go
Labels: bug, CLI

#232 [AWIBOF-6674] Reduce unnecessary event logging from telemetry
  src/telemetry/telemetry_client/grpc_global_publisher.cpp
  src/telemetry/telemetry_client/grpc_global_publisher.h
Labels: log, telemetry
