Repository poseidonos/poseidonos, pull requests merged in 2022-10, with the labels that each got.

#442 [AWIBOF-7152] R3 performance test fix
  src/journal_manager/checkpoint/checkpoint_handler.cpp
Labels: Meta

#444 [AWIBOF-7151] Remove enqueuing the mpio by itself when an error occurs due to the broken array
  src/metafs/storage/pstore/issue_write_event.h
Labels: Meta

#445 [AWIBOF-7151] Add unit tests for mpio to detect enqueueing twice
  doc/troubleshooting/events.md
  src/event/pos_event.yaml
  src/metafs/mim/mpio.cpp
  src/metafs/mim/mpio.h
  src/metafs/mim/read_mpio.cpp
  src/metafs/mim/read_mpio.h
  src/metafs/mim/write_mpio.cpp
  src/metafs/mim/write_mpio.h
  test/unit-tests/metafs/mim/read_mpio_test.cpp
  test/unit-tests/metafs/mim/write_mpio_test.cpp
Labels: Meta

#450 [AWIBOF-7093] fix invalid trace eid.
  doc/troubleshooting/events.md
  src/allocator/allocator.cpp
  src/event/pos_event.yaml
  src/journal_manager/journal_manager.cpp
  src/mapper/map/map.cpp
  src/mapper/map/map_header.cpp
  src/mapper/map/map_io_handler.cpp
  src/mapper/mapper.cpp
  src/mapper/stripemap/stripemap_manager.cpp
  src/mapper/vsamap/vsamap_manager.cpp
Labels: Meta

#453 [SHPOS-911] Fix CLI rebuilding progress display bug
  tool/cli/cmd/displaymgr/display_response.go
  tool/cli/cmd/displaymgr/display_response_test.go
Labels: bug, CLI

#456 [AWIBOF-7177] Fix fio segmentation fault during exiting the fio process
  lib/spdk-22.01.1.patch
Labels: IOPath

#460 [SHPOS-915] telemetry duplicate records created for labels device
  config/air.cfg
  config/air_ci.cfg
  lib/CMakeLists.txt
  src/device/base/io_context.cpp
  src/device/base/io_context.h
  src/device/unvme/unvme_drv.cpp
  test/unit-tests/device/unvme/unvme_drv_test.cpp
  test/unit-tests/device/unvme/unvme_io_context_mock.h
Labels: telemetry, AIR

#466 [AWIBOF-7171] Add more fail log to get meta request info
  src/allocator/context_manager/allocator_file_io.cpp
  src/journal_manager/log_buffer/journal_log_buffer.cpp
  src/mapper/map/event_mpage_async_io.cpp
  src/mapper/map/map_io_handler.cpp
  src/mapper/reversemap/reverse_map.cpp
  src/meta_file_intf/async_context.cpp
  src/meta_file_intf/async_context.h
  test/unit-tests/meta_file_intf/async_context_mock.h
  test/unit-tests/meta_file_intf/async_context_test.cpp
Labels: Meta

#474 [AWIBOF-7260] Fix typo and misuse of variable
  src/io/frontend_io/unvmf_io_handler.cpp
  src/pos_replicator/posreplicator_manager.cpp
Labels: 2node-HA

#476 [AWIBOF-7259] Add make install step to README.md
  README.md
Labels: documentation

#484 [SHPOS-944] Add file path check to SETTELEMETRYPROPERTY command
  doc/troubleshooting/events.md
  src/cli/command_processor.cpp
  src/cli/command_processor.h
  src/event/pos_event.yaml
Labels: bug, CLI

#486 [SHPOS-942] Patch protojson to correct json output for uint64
  tool/cli/patches/protojson_encode.patch
  tool/cli/script/build_cli.sh
Labels: bug, CLI

#497 [AWIBOF-7309] Fix CLI protojson patch bug
  tool/cli/patches/protojson_encode.patch
  tool/cli/script/build_cli.sh
Labels: bug, CLI

#511 [SHPOS-959] Fix uint64 display bug for CLI display
  tool/cli/cmd/displaymgr/display_response.go
  tool/cli/cmd/displaymgr/display_response_test.go
Labels: bug, CLI
