Repository poseidonos/poseidonos, pull requests merged in 2022-06, with the labels that each got.

#82 [AWIBOF-6194] RocksDB config setup
  Makefile
  config/pos.conf
  script/pkgdep.sh
  src/Makefile
  src/include/pos_event_id.h
  src/journal_manager/config/journal_configuration.cpp
  src/journal_manager/config/journal_configuration.h
  src/journal_manager/log_buffer/journal_log_buffer.cpp
  src/journal_manager/log_buffer/journal_log_buffer.h
  src/journal_rocks_intf/Makefile
  src/journal_rocks_intf/journal_rocks_intf.cpp
  src/journal_rocks_intf/journal_rocks_intf.h
  test/CMakeLists.txt
  test/integration-tests/rocksdb/CMakeLists.txt
  test/integration-tests/rocksdb/journal_rocks_integration_test.cpp
  test/unit-tests/journal_manager/config/journal_configuration_mock.h
  test/unit-tests/journal_manager/config/journal_configuration_test.cpp
  test/unit-tests/journal_rocks_intf/CMakeLists.txt
  test/unit-tests/journal_rocks_intf/journal_rocks_intf_mock.h
  test/unit-tests/journal_rocks_intf/journal_rocks_intf_test.cpp
Labels: Meta

#97 [AWIBOF-6298] move variables to proper position
  src/metafs/mai/metafs_io_api.cpp
Labels: Meta

#99 [AWIBOF-6306] Change ADDSPARE command to gRPC
  proto/cli.proto
  proto/generated/cpp/cli.grpc.pb.cc
  proto/generated/cpp/cli.grpc.pb.h
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  src/cli/command_processor.cpp
  src/cli/command_processor.h
  src/cli/grpc_cli_server.cpp
  src/cli/grpc_cli_server.h
  tool/cli/cmd/arraycmds/add_spare.go
  tool/cli/cmd/grpcmgr/grpcmgr.go
Labels: CLI

#102 [AWIBOF-6248] Change CREATEARRAY command to gRPC
  proto/cli.proto
  proto/generated/cpp/cli.grpc.pb.cc
  proto/generated/cpp/cli.grpc.pb.h
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  src/cli/command_processor.cpp
  src/cli/command_processor.h
  src/cli/grpc_cli_server.cpp
  tool/cli/cmd/arraycmds/add_spare_test.go
  tool/cli/cmd/arraycmds/create_array.go
  tool/cli/cmd/grpcmgr/grpcmgr.go
Labels: CLI

#103 [AWIBOF-6311] Fix bug in SYSTEMINFO command
  src/cli/get_pos_info_command.cpp
  src/cli/request_handler.cpp
Labels: CLI

#106 [AWIBOF-6248] Change MOUNTARRAY/UNMOUNTARRAY commands to gRPC
  proto/cli.proto
  proto/generated/cpp/cli.grpc.pb.cc
  proto/generated/cpp/cli.grpc.pb.h
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  src/cli/command_processor.cpp
  src/cli/command_processor.h
  src/cli/grpc_cli_server.cpp
  tool/cli/cmd/arraycmds/mount_array.go
  tool/cli/cmd/arraycmds/unmount_array.go
  tool/cli/cmd/grpcmgr/grpcmgr.go
Labels: CLI

#105 [AWIBOF-6301] Revise README.md
  README.md
Labels: documentation

#108 [AWIBOF-6320] Add RAID6 to CLI
  doc/guides/cli/poseidonos-cli_array_create.md
  tool/cli/cmd/arraycmds/create_array.go
  tool/cli/cmd/pos_cli_syntax.ebnf
Labels: SRM, CLI

#107 [AWIBOF-6317] Add logging gRPC reply status in CLI server
  src/cli/grpc_cli_server.cpp
  src/cli/grpc_cli_server.h
  src/include/pos_event_id.h
Labels: log, CLI

#109 [AWIBOF-6323] Change REMOVESPARE/DELTEARRAY to gRPC
  proto/cli.proto
  proto/generated/cpp/cli.grpc.pb.cc
  proto/generated/cpp/cli.grpc.pb.h
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  src/cli/command_processor.cpp
  src/cli/command_processor.h
  src/cli/grpc_cli_server.cpp
  tool/cli/cmd/arraycmds/delete_array.go
  tool/cli/cmd/arraycmds/remove_spare.go
  tool/cli/cmd/grpcmgr/grpcmgr.go
Labels: CLI

#110 [AWIBOF-6325] Disable gRPC in CLI
  tool/cli/cmd/globals/flags.go
Labels: CLI

#116 [AWIBOF-6330] Change AUTOCREATARRAY command to gRPC
  proto/cli.proto
  proto/generated/cpp/cli.grpc.pb.cc
  proto/generated/cpp/cli.grpc.pb.h
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  src/cli/autocreate_array_command.cpp
  src/cli/command_processor.cpp
  src/cli/command_processor.h
  src/cli/grpc_cli_server.cpp
  tool/cli/cmd/arraycmds/autocreate_array.go
  tool/cli/cmd/grpcmgr/grpcmgr.go
Labels: CLI

#114 [AWIBOF-6320] Add RAID6 option to CLI array commands
  doc/guides/cli/poseidonos-cli_array_autocreate.md
  doc/guides/cli/poseidonos-cli_array_create.md
  src/include/raid_type.h
  tool/cli/cmd/arraycmds/autocreate_array.go
  tool/cli/cmd/arraycmds/create_array.go
Labels: SRM, CLI

#123 [AWIBOF-6328] Add telemetry metrics
  src/journal_manager/checkpoint/checkpoint_manager.cpp
  src/journal_manager/checkpoint/checkpoint_manager.h
  src/journal_manager/journal_manager.cpp
  src/journal_manager/log_buffer/journal_log_buffer.cpp
  src/journal_manager/log_buffer/journal_log_buffer.h
  src/mapper/mapper.cpp
  src/mapper/reversemap/reverse_map.cpp
  src/mapper/reversemap/reverse_map.h
  src/mapper/reversemap/reversemap_manager.cpp
  src/mapper/reversemap/reversemap_manager.h
  src/telemetry/telemetry_id.h
  test/integration-tests/journal/log_buffer_integration_test.cpp
  test/unit-tests/allocator/stripe/stripe_test.cpp
  test/unit-tests/journal_manager/checkpoint/checkpoint_manager_mock.h
  test/unit-tests/journal_manager/checkpoint/checkpoint_manager_test.cpp
  test/unit-tests/journal_manager/log_buffer/journal_log_buffer_mock.h
  test/unit-tests/journal_manager/log_buffer/journal_log_buffer_test.cpp
  test/unit-tests/mapper/reversemap/reverse_map_mock.h
  test/unit-tests/mapper/reversemap/reversemap_manager_test.cpp
Labels: Meta

#124 [AWIBOF-6243] Remove newline and whitespace from configuration data
  src/master_context/config_manager.cpp
Labels: log

#121 [AWIBOF-6243] Enhance logging
  doc/development/design/log_management.md
  src/cli/command_processor.cpp
  src/cli/stop_pos_command.cpp
  src/include/pos_event_id.h
Labels: log, CLI

#125 [AWIBOF-6243] error logs enhancement
  src/array/array.cpp
  src/array/state/array_state.cpp
  src/array_components/array_components.cpp
  src/array_components/array_mount_sequence.cpp
  src/array_mgmt/array_manager.cpp
  src/array_mgmt/array_manager.h
  src/cli/add_device_command.cpp
  src/cli/create_volume_command.cpp
  src/cli/delete_volume_command.cpp
  src/cli/mount_volume_command.cpp
  src/cli/rename_volume_command.cpp
  src/cli/unmount_volume_command.cpp
  src/include/pos_event_id.h
  src/volume/volume_creator.cpp
  src/volume/volume_name_policy.cpp
  src/volume/volume_name_policy.h
  src/volume/volume_renamer.cpp
  src/volume/volume_renamer.h
  test/functional_requirements/array/CREATE_ARRAY_EXCEED_MAX_CNT_ERROR.py
  test/unit-tests/array/array_test.cpp
  test/unit-tests/array_mgmt/array_manager_test.cpp
  test/unit-tests/volume/volume_renamer_test.cpp
Labels: log

#126 [AWIBOF-6335] Add LISTNODE command for high-availability cluster
  doc/guides/cli/poseidonos-cli.md
  doc/guides/cli/poseidonos-cli_cluster.md
  doc/guides/cli/poseidonos-cli_cluster_ln.md
  proto/cli.proto
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  tool/cli/cmd/clustercmds/general.go
  tool/cli/cmd/clustercmds/list_node.go
  tool/cli/cmd/displaymgr/display_response.go
  tool/cli/cmd/globals/settings.go
  tool/cli/cmd/grpcmgr/hadbmgr.go
  tool/cli/cmd/pos_cli_syntax.ebnf
  tool/cli/cmd/root.go
Labels: documentation, CLI, high-availability

#127 [AWIBOF-6360] Add LISTHAVOLUME command
  doc/guides/cli/poseidonos-cli_cluster.md
  doc/guides/cli/poseidonos-cli_cluster_lv.md
  proto/cli.proto
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  tool/cli/cmd/clustercmds/general.go
  tool/cli/cmd/clustercmds/list_ha_volume.go
  tool/cli/cmd/displaymgr/display_response.go
  tool/cli/cmd/grpcmgr/hadbmgr.go
Labels: CLI, high-availability

#128 [AWIBOF-6328] Add metrics for metafs
  config/ibofos_for_perf_ci.conf
  config/ibofos_for_perf_ci_single_numa.conf
  config/ibofos_for_perf_psd.conf
  config/ibofos_for_perf_psd_200GB.conf
  config/ibofos_for_psd_ci.conf
  config/ibofos_for_psd_ci_wt.conf
  config/ibofos_for_vm_ci.conf
  config/ibofos_for_vm_ci_wt.conf
  config/pos.conf
  config/pos_for_aws.conf
  config/pos_for_pm_qos.conf
  config/pos_multi_array_normal.conf
  config/pos_multi_array_perf.conf
  src/master_context/default_configuration.h
  src/metafs/config/metafs_config_manager.cpp
  src/metafs/config/metafs_config_manager.h
  src/metafs/include/metafs_service.h
  src/metafs/metafs_service.cpp
  src/metafs/mim/metafs_io_scheduler.cpp
  src/metafs/mim/metafs_io_scheduler.h
  src/metafs/mim/mim_state.h
  src/metafs/mim/mio.cpp
  src/metafs/mim/mio_handler.cpp
  src/metafs/mim/mio_handler.h
  src/metafs/mim/mpio_handler.cpp
  src/metafs/mim/mpio_handler.h
  src/metafs/mim/write_mpio.cpp
  src/metafs/mim/write_mpio.h
  src/telemetry/telemetry_id.h
  test/unit-tests/metafs/config/metafs_config_manager_test.cpp
  test/unit-tests/metafs/mim/meta_io_manager_test.cpp
  test/unit-tests/metafs/mim/metafs_io_scheduler_test.cpp
Labels: Meta

#132 [AWIBOF-6356] Change logger commands to gRPC
  proto/cli.proto
  proto/generated/cpp/cli.grpc.pb.cc
  proto/generated/cpp/cli.grpc.pb.h
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  src/cli/command_processor.cpp
  src/cli/command_processor.h
  src/cli/grpc_cli_server.cpp
  src/cli/set_log_preference_command.cpp
  src/include/pos_event_id.h
  src/logger/logger.h
  src/logger/preferences.cpp
  src/logger/preferences.h
  tool/cli/cmd/displaymgr/display_response.go
  tool/cli/cmd/grpcmgr/grpcmgr.go
  tool/cli/cmd/loggercmds/apply_filter.go
  tool/cli/cmd/loggercmds/get_level.go
  tool/cli/cmd/loggercmds/logger_info.go
  tool/cli/cmd/loggercmds/set_level.go
  tool/cli/cmd/loggercmds/set_preference.go
  tool/cli/cmd/messages/responses.go
Labels: log, CLI

#136 [AWIBOF-6243] unit-tests improvement
  src/array/array.cpp
  src/array/device/array_device.cpp
  src/array/device/array_device.h
  src/array/partition/partition_services.cpp
  src/array/rebuild/rebuild_progress.cpp
  src/array/service/io_locker/i_io_locker.h
  src/array/service/io_locker/io_locker.cpp
  src/array/service/io_locker/io_locker.h
  src/array/service/io_locker/stripe_locker.cpp
  src/array/service/io_locker/stripe_locker.h
  src/array/service/io_locker/stripe_locker_busy_state.cpp
  src/dpdk_wrapper/hugepage_allocator.cpp
  src/include/pos_event_id.h
  src/include/rebuild_state.h
  src/rebuild/array_rebuild.cpp
  src/rebuild/partition_rebuild.cpp
  src/rebuild/rebuild_behavior.cpp
  src/rebuild/rebuild_behavior.h
  src/rebuild/segment_based_rebuild.cpp
  src/rebuild/stripe_based_race_rebuild.cpp
  src/rebuild/stripe_based_race_rebuild.h
  test/unit-tests/array/service/io_locker/i_io_locker_mock.h
  test/unit-tests/array/service/io_locker/io_locker_mock.h
  test/unit-tests/array/state/array_state_test.cpp
  test/unit-tests/array_components/array_mount_sequence_test.cpp
  test/unit-tests/logger/logger_test.cpp
Labels: unit-testing

#139 [AWIBOF-6278] Refactor mpio cache functions
  src/metafs/mim/mio.cpp
  src/metafs/mim/mpio.cpp
  src/metafs/mim/mpio.h
  src/metafs/mim/mpio_allocator.cpp
  src/metafs/mim/write_mpio.cpp
  test/unit-tests/metafs/mim/mpio_test.cpp
Labels: Meta

#140 [AWIBOF-6387] Revise POS_CONNECTION_ERROR message for socket CLI
  tool/cli/cmd/socketmgr/socketmgr.go
Labels: CLI

#144 [AWIBOF-6402] Improve Telemetry logging
  src/include/pos_event_id.h
  src/telemetry/telemetry_client/grpc_global_publisher.cpp
  src/telemetry/telemetry_client/pos_metric.cpp
  src/telemetry/telemetry_client/telemetry_client.cpp
  src/telemetry/telemetry_client/telemetry_publisher.cpp
Labels: log, telemetry

#150 [AWIBOF-6360] Add LISTHAVOLUME command to CLI syntax
  tool/cli/cmd/pos_cli_syntax.ebnf
Labels: CLI

#151 [AWIBOF-6423] Add WRR configs for metafs
  config/ibofos_for_perf_ci.conf
  config/ibofos_for_perf_ci_single_numa.conf
  config/ibofos_for_perf_psd.conf
  config/ibofos_for_perf_psd_200GB.conf
  config/ibofos_for_psd_ci.conf
  config/ibofos_for_psd_ci_wt.conf
  config/ibofos_for_vm_ci.conf
  config/ibofos_for_vm_ci_wt.conf
  config/pos.conf
  config/pos_for_aws.conf
  config/pos_for_pm_qos.conf
  config/pos_multi_array_normal.conf
  config/pos_multi_array_perf.conf
  src/master_context/default_configuration.h
  src/metafs/config/metafs_config_manager.cpp
  src/metafs/config/metafs_config_manager.h
  test/integration-tests/metafs/lib/metafs_test_fixture.cpp
  test/unit-tests/metafs/config/metafs_config_manager_mock.h
  test/unit-tests/metafs/config/metafs_config_manager_test.cpp
Labels: Meta

#153 [AWIBOF-6364] Fix segfault caused by not waiting for the request to be completed
  src/admin/smart_log_meta_io.cpp
  src/admin/smart_log_meta_io.h
  test/unit-tests/admin/smart_log_meta_io_mock.h
  test/unit-tests/admin/smart_log_meta_io_test.cpp
Labels: Meta

#160 [AWIBOF-6437] Change CREATEDEVICE command to gRPC
  doc/guides/cli/poseidonos-cli_device_create.md
  proto/cli.proto
  proto/generated/cpp/cli.grpc.pb.cc
  proto/generated/cpp/cli.grpc.pb.h
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  src/cli/command_processor.cpp
  src/cli/command_processor.h
  src/cli/create_device_command.cpp
  src/cli/create_device_command.h
  src/cli/grpc_cli_server.cpp
  src/include/pos_event_id.h
  tool/cli/cmd/devicecmds/create_device.go
  tool/cli/cmd/globals/flags.go
  tool/cli/cmd/grpcmgr/grpcmgr.go
  tool/cli/cmd/messages/requests.go
Labels: log, CLI

#155 [AWIBOF-5248] [Ckpt.Perf] SegmentCtx Integration Test
  src/allocator/context_manager/segment_ctx/segment_ctx.cpp
  src/allocator/context_manager/segment_ctx/segment_ctx.h
  src/metadata/block_map_update.cpp
  test/integration-tests/segmentCtx/CMakeLists.txt
  test/integration-tests/segmentCtx/segment_ctx_integration_test.cpp
  test/integration-tests/segmentCtx/segment_ctx_integration_test.h
Labels: Meta

#163 [AWIBOF-6416] Change uptime metric type to gauge
  doc/development/telemetry/METRICS.md
  src/telemetry/telemetry_air/uptime_metric_generator.cpp
  test/unit-tests/telemetry/telemetry_air/uptime_metric_generator_test.cpp
Labels: telemetry

#175 [AWIBOF-6036] Add STARTHAREPLICATION command
  doc/guides/cli/poseidonos-cli_cluster.md
  doc/guides/cli/poseidonos-cli_cluster_start-rep.md
  proto/cli.proto
  tool/cli/cmd/clustercmds/general.go
  tool/cli/cmd/clustercmds/start_ha_replication.go
  tool/cli/cmd/grpcmgr/hadbmgr.go
  tool/cli/cmd/pos_cli_syntax.ebnf
Labels: CLI, high-availability

#177 [AWIBOF-6482] Revise log format
  src/logger/logger.h
Labels: log

#178 [AWIBOF-6483] Modify flood trace
  src/gc/victim_stripe.cpp
  src/include/pos_event_id.h
Labels: log
