Repository poseidonos/poseidonos, pull requests merged in 2022-05, with the labels that each got.

#43 [AWIBOF-6010] coverity bug fixed
  src/metafs/mai/metafs_io_api.cpp
Labels: bug, Meta

#63 [AWIBOF-6055] Add SSD workload profiling
  config/air.cfg
  config/air_ci.cfg
  doc/development/telemetry/ID_RULES.md
  doc/development/telemetry/METRICS.md
  src/device/base/io_context.cpp
  src/device/base/io_context.h
  src/device/unvme/unvme_drv.cpp
  src/gc/gc_flush_submission.cpp
  src/gc/stripe_copier.cpp
  src/io/backend_io/flush_submission.cpp
  src/io/frontend_io/aio.cpp
  src/io/general_io/io_submit_handler.cpp
  src/io/general_io/merged_io.cpp
  src/io/general_io/submit_async_write.cpp
  src/io_submit_interface/i_io_submit_handler.h
  src/telemetry/telemetry_air/telemetry_air_delegator.cpp
  src/telemetry/telemetry_id.h
Labels: documentation, Meta, Log

#66 [AWIBOF-6059] Remove ISegmentCtx implementation in ContextManager
  src/allocator/context_manager/context_manager.cpp
  src/allocator/context_manager/context_manager.h
  src/allocator/context_manager/context_replayer.cpp
  src/allocator/context_manager/gc_ctx/gc_ctx.cpp
  src/allocator/context_manager/gc_ctx/gc_ctx.h
  src/allocator/context_manager/segment_ctx/segment_ctx.cpp
  src/allocator/context_manager/segment_ctx/segment_ctx.h
  src/allocator/i_context_manager.h
  src/allocator/i_segment_ctx.h
  src/cli/array_info_command.cpp
  src/gc/copier.cpp
  src/metadata/gc_map_update.cpp
  src/wbt/set_gc_threshold_wbt_command.cpp
  test/integration-tests/allocator/context_manager_integration_test.cpp
  test/integration-tests/journal/fake/i_context_manager_mock.h
  test/unit-tests/allocator/context_manager/context_manager_mock.h
  test/unit-tests/allocator/context_manager/context_manager_test.cpp
  test/unit-tests/allocator/context_manager/context_replayer_test.cpp
  test/unit-tests/allocator/context_manager/gc_ctx/gc_ctx_mock.h
  test/unit-tests/allocator/context_manager/gc_ctx/gc_ctx_test.cpp
  test/unit-tests/allocator/context_manager/segment_ctx/segment_ctx_mock.h
  test/unit-tests/allocator/context_manager/segment_ctx/segment_ctx_test.cpp
  test/unit-tests/allocator/i_context_manager_mock.h
  test/unit-tests/allocator/i_segment_ctx_mock.h
  test/unit-tests/gc/copier_test.cpp
  test/unit-tests/metadata/gc_map_update_test.cpp
Labels: Meta, refactoring

#70 [AWIBOF-6135] Improve event response display
  src/cli/command_processor.cpp
  src/cli/command_processor.h
  src/cli/grpc_cli_server.cpp
  src/include/pos_event_id.h
  tool/cli/cmd/displaymgr/display_response.go
  tool/cli/cmd/systemcmds/stop_system.go
Labels: SRM, Log, CLI

#76 [AWIBOF-6206] Limit the number of concurrent commands to the gRPC CLI server
  src/cli/grpc_cli_server.cpp
  test/script/grpc_cli_concurrency_test.sh
  tool/cli/cmd/globals/handler.go
  tool/cli/cmd/globals/strings.go
  tool/cli/cmd/grpcmgr/grpcmgr.go
  tool/cli/cmd/systemcmds/get_system_property.go
  tool/cli/cmd/systemcmds/set_system_property.go
  tool/cli/cmd/systemcmds/stop_system.go
  tool/cli/cmd/systemcmds/system_info.go
Labels: CLI

#77 [AWIBOF-6215] Change Telemetry commands to gRPC
  proto/cli.proto
  proto/generated/cpp/cli.grpc.pb.cc
  proto/generated/cpp/cli.grpc.pb.h
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  src/cli/command_processor.cpp
  src/cli/command_processor.h
  src/cli/grpc_cli_server.cpp
  src/cli/stop_telemetry_command.cpp
  src/include/pos_event_id.h
  tool/cli/cmd/grpcmgr/grpcmgr.go
  tool/cli/cmd/telemetrycmds/start_telemetry.go
  tool/cli/cmd/telemetrycmds/stop_telemetry.go
Labels: CLI, telemetry

#81 [AWIBOF-6223] Change Devel commands to gRPC
  proto/cli.proto
  proto/generated/cpp/cli.grpc.pb.cc
  proto/generated/cpp/cli.grpc.pb.h
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  src/array_mgmt/array_manager.h
  src/cli/command_processor.cpp
  src/cli/command_processor.h
  src/cli/grpc_cli_server.cpp
  src/include/pos_event_id.h
  tool/cli/cmd/develcmds/reset_event_wrr.go
  tool/cli/cmd/develcmds/reset_mbr.go
  tool/cli/cmd/develcmds/stop_rebuilding.go
  tool/cli/cmd/develcmds/update_event_wrr.go
  tool/cli/cmd/grpcmgr/grpcmgr.go
Labels: SRM, CLI

#83 [AWIBOF-6088] Release AIR 0.8.2-beta
  lib/CMakeLists.txt
  src/telemetry/telemetry_air/telemetry_air_delegator.cpp
  src/telemetry/telemetry_air/telemetry_air_delegator.h
  test/unit-tests/telemetry/telemetry_air/telemetry_air_delegator_test.cpp
Labels: AIR
