Repository poseidonos/poseidonos, pull requests merged in 2022-08, with the labels that each got.

#233 [AWIBOF-6720] Change subnqn to nqn of CREATESUBSYSTEM command
  proto/cli.proto
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  src/cli/command_processor.cpp
  tool/cli/cmd/subsystemcmds/create_subsystem.go
Labels: bug, CLI

#237 [AWIBOF-6729] Change meta logs to add arrayId
  src/journal_manager/checkpoint/checkpoint_handler.cpp
  src/journal_manager/checkpoint/checkpoint_handler.h
  src/journal_manager/checkpoint/checkpoint_manager.cpp
  src/journal_manager/checkpoint/checkpoint_manager.h
  src/journal_manager/journal_manager.cpp
  src/mapper/mapper.cpp
  src/mapper/mapper.h
  src/mapper/stripemap/stripemap_manager.cpp
  src/mapper/vsamap/vsamap_manager.cpp
  test/unit-tests/journal_manager/checkpoint/checkpoint_handler_test.cpp
  test/unit-tests/journal_manager/checkpoint/checkpoint_manager_test.cpp
  test/unit-tests/journal_manager/checkpoint/checkpoint_meta_flush_completed_test.cpp
  test/unit-tests/mapper/vsamap/vsamap_manager_test.cpp
Labels: Meta

#240 [AWIBOF-6739] Versioned Segment Context unit test
  test/unit-tests/journal_manager/log_write/log_write_handler_test.cpp
Labels: Meta

#218 [AWIBOF-6647] Rocksdb Metafs refactoring
  config/ibofos_for_perf_ci.conf
  config/ibofos_for_perf_ci_single_numa.conf
  config/ibofos_for_perf_psd.conf
  config/ibofos_for_perf_psd_200GB.conf
  config/ibofos_for_psd_ci.conf
  config/ibofos_for_psd_ci_wt.conf
  config/ibofos_for_vm_ci.conf
  config/ibofos_for_vm_ci_wt.conf
  config/pos.conf
  config/pos_for_aws.conf
  config/pos_for_pm_qos.conf
  config/pos_multi_array_normal.conf
  config/pos_multi_array_perf.conf
  script/reset_raid_device.sh
  script/setup_raid_device.sh
  src/include/pos_event_id.h
  src/journal_manager/config/journal_configuration.cpp
  src/journal_manager/config/journal_configuration.h
  src/meta_file_intf/rocksdb_metafs_intf.cpp
  src/metafs/config/metafs_config_manager.cpp
  src/metafs/config/metafs_config_manager.h
  src/metafs/metafs.cpp
  src/metafs/metafs.h
  src/rocksdb_log_buffer/rocksdb_log_buffer.cpp
  src/rocksdb_log_buffer/rocksdb_log_buffer.h
  test/integration-tests/journal/fixture/journal_manager_test_fixture.cpp
  test/integration-tests/journal/fixture/journal_manager_test_fixture.h
  test/integration-tests/journal/journal_configuration_spy.cpp
  test/integration-tests/journal/journal_configuration_spy.h
  test/integration-tests/journal/rocksdb_checkpoint_integration_test.cpp
  test/integration-tests/journal/rocksdb_journal_volume_integration_test.cpp
  test/integration-tests/journal/rocksdb_log_write_integration_test.cpp
  test/integration-tests/journal/rocksdb_multi_thread_log_write_integration_test.cpp
  test/integration-tests/journal/rocksdb_replay_log_buffer_integration_test.cpp
  test/integration-tests/journal/rocksdb_replay_segment_integration_test.cpp
  test/integration-tests/journal/rocksdb_replay_stripe_integration_test.cpp
  test/integration-tests/journal/utils/journal_configuration_builder.cpp
  test/integration-tests/journal/utils/journal_configuration_builder.h
  test/integration-tests/rocksdb/rocksdb_log_buffer_integration_test.cpp
  test/integration-tests/rocksdb/rocksdb_log_buffer_integration_test.h
  test/unit-tests/journal_manager/config/journal_configuration_mock.h
  test/unit-tests/journal_manager/config/journal_configuration_test.cpp
Labels: Meta, RocksDB PoC

#245 [AWIBOF-6761] remove invalid error message related with meta update c…
  src/journal_manager/log_write/log_write_handler.cpp
Labels: Meta

#248 [AWIBOF-6722] Change subsystemList to subsystemlist for CI test
  proto/cli.proto
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  tool/cli/cmd/displaymgr/display_response.go
Labels: bug, CLI

#249 [AWIBOF-6456] Refactor telemetry_air_delegator
  lib/CMakeLists.txt
  src/telemetry/telemetry_air/telemetry_air_delegator.cpp
  src/telemetry/telemetry_air/telemetry_air_delegator.h
  test/unit-tests/telemetry/telemetry_air/telemetry_air_delegator_test.cpp
Labels: telemetry, AIR

#250 [AWIBOF-6775] Change nvmf connection for event reactor, Add interface
  lib/spdk-22.01.1.patch
  src/cpu_affinity/affinity_config_parser.cpp
  src/cpu_affinity/affinity_config_parser.h
  src/cpu_affinity/affinity_manager.cpp
  src/spdk_wrapper/caller/spdk_nvmf_caller.cpp
  src/spdk_wrapper/caller/spdk_nvmf_caller.h
Labels: IOPath, spdk

#261 [AWIBOF-6799] Set CLI request timeout to 180 seconds
  tool/cli/cmd/grpcmgr/grpcmgr.go
Labels: CLI

#253 [AWIBOF-6747] Support NUMA dedicated scheduling of metafs
  src/include/pos_event_id.h
  src/metadata/metadata.cpp
  src/metafs/config/metafs_config_manager.cpp
  src/metafs/config/metafs_config_manager.h
  src/metafs/include/metafs_service.h
  src/metafs/mai/metafs_io_api.cpp
  src/metafs/mai/metafs_io_api.h
  src/metafs/metafs.cpp
  src/metafs/metafs.h
  src/metafs/metafs_service.cpp
  src/metafs/mim/meta_io_manager.cpp
  src/metafs/mim/meta_io_manager.h
  src/metafs/mim/metafs_io_request.cpp
  src/metafs/mim/metafs_io_request.h
  src/metafs/mim/metafs_io_scheduler.cpp
  src/metafs/mim/metafs_io_scheduler.h
  src/metafs/mim/mio_handler.cpp
  src/metafs/mim/mio_handler.h
  test/integration-tests/metafs/lib/metafs_test_fixture.cpp
  test/integration-tests/metafs/lib/metafs_test_fixture.h
  test/unit-tests/metafs/config/metafs_config_manager_mock.h
  test/unit-tests/metafs/mai/metafs_io_api_test.cpp
  test/unit-tests/metafs/mim/meta_io_manager_test.cpp
  test/unit-tests/metafs/mim/metafs_io_scheduler_test.cpp
  test/unit-tests/metafs/mim/mio_handler_test.cpp
Labels: Meta

#256 [AWIBOF-6773] Improve allocator event logging
  src/allocator/context_manager/segment_ctx/segment_ctx.cpp
  src/include/pos_event_id.h
Labels: log

#264 [AWIBOF-6773] Improve event logging
  src/device/device_manager.cpp
  src/include/pos_event_id.h
  src/logger/logger.h
  src/mbr/mbr_manager.cpp
Labels: log

#268 [AWIBOF-6777] Update telemetry metric
  config/air.cfg
  config/air_ci.cfg
  doc/development/telemetry/ID_RULES.md
  doc/development/telemetry/METRICS.md
  lib/CMakeLists.txt
  lib/spdk-22.01.1.patch
  src/admin/admin_command_handler.cpp
  src/bio/ubio.cpp
  src/bio/volume_io.cpp
  src/device/unvme/unvme_drv.cpp
  src/device/uram/uram.cpp
  src/device/uram/uram_drv.cpp
  src/event_scheduler/backend_event_ratio_policy.cpp
  src/event_scheduler/callback.cpp
  src/event_scheduler/event.cpp
  src/event_scheduler/event_queue.cpp
  src/event_scheduler/event_scheduler.cpp
  src/event_scheduler/meta_update_call_back.cpp
  src/event_scheduler/meta_update_call_back.h
  src/gc/copier.cpp
  src/gc/copier_read_completion.cpp
  src/gc/gc_flush_completion.cpp
  src/gc/gc_map_update_completion.cpp
  src/gc/gc_map_update_request.cpp
  src/gc/gc_stripe_manager.cpp
  src/gc/reverse_map_load_completion.cpp
  src/gc/stripe_copier.cpp
  src/gc/stripe_copy_submission.cpp
  src/gc/victim_stripe.cpp
  src/io/frontend_io/aio.cpp
  src/io/frontend_io/read_completion.cpp
  src/io/frontend_io/read_completion_for_partial_write.cpp
  src/io/frontend_io/read_submission.cpp
  src/io/frontend_io/unvmf_io_handler.cpp
  src/io/frontend_io/write_completion.cpp
  src/io/frontend_io/write_submission.cpp
  src/io_scheduler/io_queue.cpp
  src/io_scheduler/io_worker.cpp
  src/main/main.cpp
  src/main/poseidonos.cpp
  src/metafs/mim/mio_handler.cpp
  src/metafs/mim/mpio.cpp
  src/metafs/mim/write_mpio.cpp
  src/qos/qos_volume_manager.cpp
  src/rebuild/segment_based_rebuild.cpp
  src/telemetry/telemetry_air/telemetry_air_delegator.cpp
  src/telemetry/telemetry_air/telemetry_air_delegator.h
  src/telemetry/telemetry_id.h
  test/unit-tests/telemetry/telemetry_air/telemetry_air_delegator_test.cpp
Labels: telemetry, AIR

#266 [AWIBOF-6800] Add versioned segment context integration test
  src/journal_manager/journal_manager.cpp
  src/journal_manager/log_buffer/i_versioned_segment_context.h
  src/journal_manager/log_buffer/versioned_segment_ctx.h
  test/integration-tests/allocator/context_manager_integration_test.cpp
  test/integration-tests/journal/checkpoint_integration_test.cpp
  test/integration-tests/journal/fake/array_info_mock.cpp
  test/integration-tests/journal/fake/array_info_mock.h
  test/integration-tests/journal/fixture/journal_manager_test_fixture.h
  test/integration-tests/journal/journal_manager_spy.h
  test/unit-tests/allocator/context_manager/context_manager_test.cpp
  test/unit-tests/journal_manager/log_buffer/i_versioned_segment_context_mock.h
  test/unit-tests/journal_manager/log_buffer/versioned_segment_ctx_mock.h
Labels: Meta

#273 [AWIBOF-6777] Update volume latency profiling
  lib/spdk-22.01.1.patch
Labels: telemetry, AIR, spdk

#275 [AWIBOF-5176] remove journal sequence controller lock.
  src/journal_manager/checkpoint/checkpoint_manager.cpp
  src/journal_manager/checkpoint/checkpoint_manager.h
  src/journal_manager/journal_manager.cpp
  src/journal_manager/journal_manager.h
  src/journal_manager/log_buffer/log_write_context_factory.cpp
  src/journal_manager/log_buffer/log_write_context_factory.h
  src/journal_manager/log_buffer/map_update_log_write_context.cpp
  src/journal_manager/log_buffer/map_update_log_write_context.h
  test/integration-tests/allocator/context_manager_integration_test.cpp
  test/integration-tests/journal/log_buffer_integration_test.cpp
  test/integration-tests/rocksdb/rocksdb_log_buffer_integration_test.cpp
  test/unit-tests/journal_manager/checkpoint/checkpoint_manager_mock.h
  test/unit-tests/journal_manager/checkpoint/checkpoint_manager_test.cpp
  test/unit-tests/journal_manager/journal_manager_test.cpp
  test/unit-tests/journal_manager/log_buffer/log_write_context_factory_mock.h
  test/unit-tests/journal_manager/log_buffer/log_write_context_factory_test.cpp
  test/unit-tests/journal_manager/log_buffer/map_update_log_write_context_test.cpp
  test/unit-tests/journal_manager/log_write/log_write_handler_test.cpp
Labels: Meta

#269 [AWIBOF-6826] Added new segment context tester class to reuse test objects.
  test/integration-tests/allocator/address/allocator_address_info_tester.h
  test/integration-tests/allocator/context_manager_integration_test.cpp
  test/integration-tests/segmentCtx/segment_ctx_integration_test.cpp
  test/integration-tests/segmentCtx/segment_ctx_integration_test.h
  test/integration-tests/segmentCtx/segment_ctx_tester.h
  test/unit-tests/allocator/address/allocator_address_info_mock.h
  test/unit-tests/allocator/allocator_test.cpp
  test/unit-tests/allocator/block_manager/block_manager_test.cpp
  test/unit-tests/allocator/context_manager/context_manager_test.cpp
  test/unit-tests/allocator/context_manager/context_replayer_test.cpp
  test/unit-tests/allocator/context_manager/gc_ctx/gc_ctx_mock.h
  test/unit-tests/allocator/context_manager/segment_ctx/segment_ctx_mock.h
  test/unit-tests/allocator/context_manager/segment_ctx/segment_ctx_test.cpp
  test/unit-tests/gc/copier_test.cpp
  test/unit-tests/gc/flow_control/flow_control_test.cpp
  test/unit-tests/journal_manager/journal_manager_test.cpp
Labels: Meta

#277 [AWIBOF-6837] Add code to reset metafs service instance
  test/integration-tests/metafs/lib/metafs_test_fixture.cpp
Labels: unit-testing

#276 [AWIBOF-6695] Add logs for meta scheduler
  src/include/pos_event_id.h
  src/metafs/include/metafs_service.h
  src/metafs/metafs_service.cpp
  src/metafs/mim/meta_io_manager.cpp
  src/metafs/mim/metafs_io_scheduler.cpp
  src/metafs/mim/metafs_io_scheduler.h
  test/unit-tests/metafs/mim/metafs_io_scheduler_test.cpp
Labels: Meta

#287 [AWIBOF-5045] Add default io_unit_size for transport creation
  src/cli/command_processor.cpp
  src/cli/create_transport_command.cpp
  src/cli/create_transport_command.h
  src/helper/rpc/spdk_rpc_client.cpp
  src/helper/rpc/spdk_rpc_client.h
  src/include/nvmf_const.h
  src/network/nvmf.cpp
  src/network/transport_configuration.cpp
  src/network/transport_configuration.h
  test/unit-tests/helper/spdk_rpc_client_mock.h
  test/unit-tests/network/transport_configuration_test.cpp
Labels: CLI, IOPath

#290 [AWIBOF-6845] added lock for versioned segment info.
  src/journal_manager/log_buffer/versioned_segment_ctx.cpp
  src/journal_manager/log_buffer/versioned_segment_info.cpp
  src/journal_manager/log_buffer/versioned_segment_info.h
  test/unit-tests/journal_manager/log_buffer/versioned_segment_ctx_test.cpp
  test/unit-tests/journal_manager/log_buffer/versioned_segment_info_mock.h
  test/unit-tests/journal_manager/log_buffer/versioned_segment_info_test.cpp
Labels: Meta

#285 [AWIBOF-6505] Reduce num tests running on volume precommit
  .github/workflows/postcommit.yml
  .github/workflows/precommit.yml
  .github/workflows/script/volume/volume_postcommit.sh
  .github/workflows/script/volume/volume_precommit.sh
  test/regression/volume_ci_test.sh
Labels: testing

#293 [AWIBOF-6877] Disable versioned segment context checkpointing.
  src/journal_manager/journal_manager.cpp
  test/integration-tests/allocator/context_manager_integration_test.cpp
Labels: Meta

#296 [AWIBOF-6870] Add Intel ISA-L library to POS
  Makefile
  package/src/DEBIAN/control
  script/pkgdep.sh
  test/CMakeLists.txt
Labels: SRM

#301 [AWIBOF-6773] Copy pos_event.yaml for unit testing
  .github/workflows/script/unit/ut_build_run_unittest.sh
Labels: bug, log, unit-testing

#305 [AWIBOF-6773] Fix UT script
  .github/workflows/script/unit/ut_build_run_unittest.sh
Labels: bug, unit-testing

#310 [AWIBOF-6901] Print CLI client error message once.
  tool/cli/cmd/globals/handler.go
  tool/cli/cmd/grpcmgr/grpcmgr.go
Labels: bug, CLI

#313 [AWIBOF-6907] Add RAID6 CI test to github workflows
  .github/workflows/precommit.yml
  .github/workflows/script/rebuild_raid6/rebuild_raid6.sh
Labels: SRM, testing
