Repository poseidonos/poseidonos, pull requests merged in 2022-12, with the labels that each got.

#616 [AWIBOF-7510] Enhance event log message format
  doc/troubleshooting/events.md
  src/cli/command_processor.cpp
  src/event/event_manager.cpp
  src/event/event_manager.h
  src/event/pos_event.yaml
  src/logger/logger.cpp
  src/logger/logger.h
  test/unit-tests/helper/json_helper_test.cpp
Labels: log

#632 [AWIBOF-7537] Add a message field in CLI status
  proto/cli.proto
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  src/cli/command_processor.cpp
  src/cli/command_processor.h
  src/cli/create_array_command.cpp
Labels: CLI

#635 [AWIBOF-7547] Revert "[AWIBOF-6680] Add CRC32 to mdpage for checking …
  config/ibofos_for_perf_ci.conf
  config/ibofos_for_perf_ci_single_numa.conf
  config/ibofos_for_perf_psd.conf
  config/ibofos_for_perf_psd_200GB.conf
  config/ibofos_for_psd_ci.conf
  config/ibofos_for_psd_ci_wt.conf
  config/ibofos_for_vm_ci.conf
  config/ibofos_for_vm_ci_wt.conf
  config/longterm.conf
  config/pos.conf
  config/pos_for_aws.conf
  config/pos_for_fio_rebuild.conf
  config/pos_for_pm_qos.conf
  config/pos_multi_array_normal.conf
  config/pos_multi_array_perf.conf
  script/pkgdep.sh
  src/event/pos_event.yaml
  src/journal_manager/log_buffer/journal_log_buffer.cpp
  src/journal_manager/log_buffer/journal_log_buffer.h
  src/master_context/default_configuration.h
  src/metafs/config/metafs_config_manager.cpp
  src/metafs/config/metafs_config_manager.h
  src/metafs/include/metafs_aiocb_cxt.h
  src/metafs/metafs_file_intf.cpp
  src/metafs/mim/mdpage.cpp
  src/metafs/mim/mdpage.h
  src/metafs/mim/mdpage_control_info.h
  src/metafs/mim/mfs_async_runnable_template.h
  src/metafs/mim/mpio.cpp
  src/metafs/mim/mpio.h
  src/metafs/mim/mpio_allocator.cpp
  src/metafs/mim/mpio_allocator.h
  src/metafs/mim/read_mpio.cpp
  src/metafs/mim/read_mpio.h
  src/metafs/mim/write_mpio.cpp
  src/metafs/mim/write_mpio.h
  test/unit-tests/metafs/common/fifo_cache_test.cpp
  test/unit-tests/metafs/config/metafs_config_manager_mock.h
  test/unit-tests/metafs/config/metafs_config_manager_test.cpp
  test/unit-tests/metafs/include/metafs_aiocb_cxt_test.cpp
  test/unit-tests/metafs/lib/metafs_pool_test.cpp
  test/unit-tests/metafs/metafs_file_intf_test.cpp
  test/unit-tests/metafs/mim/mdpage_mock.h
  test/unit-tests/metafs/mim/mdpage_test.cpp
  test/unit-tests/metafs/mim/metafs_io_q_test.cpp
  test/unit-tests/metafs/mim/mio_test.cpp
  test/unit-tests/metafs/mim/mpio_handler_test.cpp
  test/unit-tests/metafs/mim/mpio_test.cpp
  test/unit-tests/metafs/mim/read_mpio_test.cpp
  test/unit-tests/metafs/mim/write_mpio_test.cpp
Labels: Meta

#636 [AWIBOF-7550] Insert CLI command name in the CLI event log
  doc/troubleshooting/events.md
  proto/generated/cpp/cli.pb.cc
  src/cli/cli_server.cpp
  src/cli/grpc_cli_server.cpp
  src/cli/grpc_cli_server.h
  src/logger/logger.h
Labels: log, CLI

#639 [AWIBOF-7555] Add CRC32 to mdpage for checking data integrity
  config/ibofos_for_perf_ci.conf
  config/ibofos_for_perf_ci_single_numa.conf
  config/ibofos_for_perf_psd.conf
  config/ibofos_for_perf_psd_200GB.conf
  config/ibofos_for_psd_ci.conf
  config/ibofos_for_psd_ci_wt.conf
  config/ibofos_for_vm_ci.conf
  config/ibofos_for_vm_ci_wt.conf
  config/longterm.conf
  config/pos.conf
  config/pos_for_aws.conf
  config/pos_for_fio_rebuild.conf
  config/pos_for_pm_qos.conf
  config/pos_multi_array_normal.conf
  config/pos_multi_array_perf.conf
  doc/troubleshooting/events.md
  script/pkgdep.sh
  src/event/pos_event.yaml
  src/journal_manager/log_buffer/journal_log_buffer.cpp
  src/journal_manager/log_buffer/journal_log_buffer.h
  src/master_context/default_configuration.h
  src/metafs/config/metafs_config_manager.cpp
  src/metafs/config/metafs_config_manager.h
  src/metafs/include/metafs_aiocb_cxt.h
  src/metafs/metafs_file_intf.cpp
  src/metafs/mim/mdpage.cpp
  src/metafs/mim/mdpage.h
  src/metafs/mim/mdpage_control_info.h
  src/metafs/mim/mfs_async_runnable_template.h
  src/metafs/mim/mpio.cpp
  src/metafs/mim/mpio.h
  src/metafs/mim/mpio_allocator.cpp
  src/metafs/mim/mpio_allocator.h
  src/metafs/mim/read_mpio.cpp
  src/metafs/mim/read_mpio.h
  src/metafs/mim/write_mpio.cpp
  src/metafs/mim/write_mpio.h
  test/unit-tests/metafs/common/fifo_cache_test.cpp
  test/unit-tests/metafs/config/metafs_config_manager_mock.h
  test/unit-tests/metafs/config/metafs_config_manager_test.cpp
  test/unit-tests/metafs/include/metafs_aiocb_cxt_test.cpp
  test/unit-tests/metafs/lib/metafs_pool_test.cpp
  test/unit-tests/metafs/metafs_file_intf_test.cpp
  test/unit-tests/metafs/mim/mdpage_mock.h
  test/unit-tests/metafs/mim/mdpage_test.cpp
  test/unit-tests/metafs/mim/metafs_io_q_test.cpp
  test/unit-tests/metafs/mim/mio_test.cpp
  test/unit-tests/metafs/mim/mpio_handler_test.cpp
  test/unit-tests/metafs/mim/mpio_test.cpp
  test/unit-tests/metafs/mim/read_mpio_test.cpp
  test/unit-tests/metafs/mim/write_mpio_test.cpp
Labels: Meta

#644 [AWIBOF-7565] Clear omitempty from logging CLI request and response
  src/cli/grpc_cli_server.cpp
Labels: log, CLI

#645 [AWIBOF-7550] Insert CLI command name in the CLI event log
  src/cli/grpc_cli_server.cpp
  src/cli/grpc_cli_server.h
  src/logger/logger.h
Labels: log, CLI

#648 [AWIBOF-7566] add cli argument
  doc/guides/cli/poseidonos-cli_volume_create.md
  proto/cli.proto
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  src/cli/command_processor.cpp
  src/volume/i_volume_event_manager.h
  src/volume/i_volume_manager.h
  src/volume/volume_manager.cpp
  src/volume/volume_manager.h
  src/volume/volume_test.cpp
  test/unit-tests/volume/i_volume_event_manager_mock.h
  test/unit-tests/volume/i_volume_manager_mock.h
  test/unit-tests/volume/volume_manager_mock.h
  test/unit-tests/volume/volume_manager_test.cpp
  tool/cli/cmd/volumecmds/create_volume.go
Labels: core, CLI

#649 [AWIBOF-7402] Add DUMPMEMORYSNAPSHOT command
  doc/guides/cli/pos_railroad.html
  doc/guides/cli/poseidonos-cli_devel.md
  doc/guides/cli/poseidonos-cli_devel_dump-memory-snapshot.md
  doc/troubleshooting/events.md
  proto/cli.proto
  proto/generated/cpp/cli.grpc.pb.cc
  proto/generated/cpp/cli.grpc.pb.h
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  src/cli/command_processor.cpp
  src/cli/command_processor.h
  src/cli/grpc_cli_server.cpp
  src/event/pos_event.yaml
  tool/cli/cmd/develcmds/dump_memory_snapshot.go
  tool/cli/cmd/develcmds/general.go
  tool/cli/cmd/grpcmgr/grpcmgr.go
  tool/cli/cmd/pos_cli_syntax.ebnf
Labels: CLI

#653 [AWIBOF-7578] Add telemetry set up guide
  doc/guides/telemetry/telemetry_guide.md
Labels: documentation, telemetry

#652 [AWIBOF-7558] Add metrics to observe metadata io
  doc/development/telemetry/METRICS.md
  doc/troubleshooting/events.md
  src/event/pos_event.yaml
  src/journal_manager/journal_manager.cpp
  src/journal_manager/log_buffer/journal_log_buffer.cpp
  src/journal_manager/log_buffer/journal_log_buffer.h
  src/journal_manager/log_write/log_write_handler.cpp
  src/journal_manager/log_write/log_write_handler.h
  src/metafs/common/meta_file_util.cpp
  src/metafs/common/meta_file_util.h
  src/metafs/include/meta_file_property.h
  src/metafs/include/meta_storage_specific.h
  src/metafs/mim/metafs_io_request.h
  src/metafs/mim/metafs_io_scheduler.cpp
  src/metafs/mim/metafs_io_scheduler.h
  src/metafs/mim/mio.cpp
  src/metafs/mim/mio.h
  src/metafs/mim/mio_handler.cpp
  src/metafs/mim/mio_handler.h
  src/metafs/mim/mpio.cpp
  src/metafs/mim/mpio.h
  src/metafs/mim/mpio_handler.cpp
  src/metafs/mim/mpio_handler.h
  src/metafs/mvm/meta_volume_container.cpp
  src/metafs/mvm/meta_volume_container.h
  src/metafs/mvm/meta_volume_handler.cpp
  src/metafs/mvm/meta_volume_handler.h
  src/metafs/storage/mss_opcode.h
  src/telemetry/telemetry_id.h
  test/unit-tests/journal_manager/log_write/log_write_handler_mock.h
  test/unit-tests/journal_manager/log_write/log_write_handler_test.cpp
  test/unit-tests/metafs/common/meta_file_util_test.cpp
  test/unit-tests/metafs/mim/metafs_io_scheduler_test.cpp
  test/unit-tests/metafs/mim/mpio_mock.h
  test/unit-tests/metafs/mvm/meta_volume_container_mock.h
  test/unit-tests/metafs/mvm/meta_volume_container_test.cpp
  test/unit-tests/metafs/mvm/meta_volume_handler_test.cpp
Labels: Meta, telemetry
