Repository poseidonos/poseidonos, pull requests merged in 2022-11, with the labels that each got.

#529 [SHPOS-968] Add description and solution for CLI_LIST_ARRAY_NO_ARRAY_…
  src/event/pos_event.yaml
Labels: bug

#530 [SHPOS-965] Update device related telemetry label value
  src/device/base/io_context.cpp
  src/device/base/io_context.h
  src/device/unvme/unvme_drv.cpp
  src/device/unvme/unvme_ssd.cpp
  src/device/unvme/unvme_ssd.h
  src/telemetry/telemetry_air/telemetry_air_delegator.cpp
  test/unit-tests/device/unvme/unvme_drv_test.cpp
  test/unit-tests/device/unvme/unvme_io_context_mock.h
Labels: telemetry

#534 Refactoring revmap
  doc/troubleshooting/events.md
  src/allocator/allocator.cpp
  src/allocator/block_manager/block_manager.cpp
  src/allocator/event/stripe_put_event.cpp
  src/allocator/stripe/stripe.cpp
  src/allocator/stripe/stripe.h
  src/allocator/wbstripe_manager/wbstripe_manager.cpp
  src/allocator/wbstripe_manager/wbstripe_manager.h
  src/dump/dump_shared_ptr.h
  src/event/pos_event.yaml
  src/gc/victim_stripe.cpp
  src/mapper/i_reversemap.h
  src/mapper/mapper_wbt.cpp
  src/mapper/reversemap/reverse_map.cpp
  src/mapper/reversemap/reverse_map.h
  src/mapper/reversemap/reverse_map_io.cpp
  src/mapper/reversemap/reverse_map_io.h
  src/mapper/reversemap/reversemap_manager.cpp
  src/mapper/reversemap/reversemap_manager.h
  test/integration-tests/gc/CMakeLists.txt
  test/integration-tests/gc/victim_stripe_integration_test.cpp
  test/integration-tests/io/CMakeLists.txt
  test/integration-tests/io/stripe_integration_test.cpp
  test/unit-tests/allocator/stripe/stripe_mock.h
  test/unit-tests/allocator/stripe/stripe_test.cpp
  test/unit-tests/allocator/wbstripe_manager/wbstripe_manager_test.cpp
  test/unit-tests/gc/victim_stripe_test.cpp
  test/unit-tests/io/frontend_io/write_completion_test.cpp
  test/unit-tests/io/general_io/translator_test.cpp
  test/unit-tests/mapper/i_reversemap_mock.h
  test/unit-tests/mapper/mapper_wbt_test.cpp
  test/unit-tests/mapper/reversemap/CMakeLists.txt
  test/unit-tests/mapper/reversemap/reverse_map_io_mock.h
  test/unit-tests/mapper/reversemap/reverse_map_io_test.cpp
  test/unit-tests/mapper/reversemap/reverse_map_mock.h
  test/unit-tests/mapper/reversemap/reversemap_manager_mock.h
  test/unit-tests/mapper/reversemap/reversemap_manager_test.cpp
Labels: Meta

#538 Revise log messages
  src/allocator/context_manager/allocator_file_io.cpp
  src/allocator/context_manager/context_io_manager.cpp
  src/allocator/context_manager/context_manager.cpp
  src/event/pos_event.yaml
  src/journal_manager/checkpoint/checkpoint_handler.cpp
  src/journal_manager/checkpoint/log_group_release_status.cpp
  src/journal_manager/checkpoint/log_group_release_status.h
  src/journal_manager/checkpoint/log_group_releaser.cpp
  src/journal_manager/log_buffer/log_group_footer_write_event.cpp
  src/journal_manager/log_buffer/reset_log_group.cpp
  src/journal_manager/log_buffer/versioned_segment_ctx.cpp
  src/journal_manager/log_write/buffer_offset_allocator.cpp
  src/journal_manager/log_write/log_group_buffer_status.cpp
  src/mapper/map/map_header.cpp
  src/mapper/map/map_io_handler.cpp
  src/mapper/stripemap/stripemap_manager.cpp
  src/mapper/vsamap/vsamap_manager.cpp
Labels: Meta

#300 [AWIBOF-6680] Add CRC32 to mdpage for checking data integrity
  config/ibofos_for_perf_ci.conf
  config/ibofos_for_perf_ci_single_numa.conf
  config/ibofos_for_perf_psd.conf
  config/ibofos_for_perf_psd_200GB.conf
  config/ibofos_for_psd_ci.conf
  config/ibofos_for_psd_ci_wt.conf
  config/ibofos_for_vm_ci.conf
  config/ibofos_for_vm_ci_wt.conf
  config/longterm.conf
  config/pos.conf
  config/pos_for_aws.conf
  config/pos_for_fio_rebuild.conf
  config/pos_for_pm_qos.conf
  config/pos_multi_array_normal.conf
  config/pos_multi_array_perf.conf
  script/pkgdep.sh
  src/event/pos_event.yaml
  src/journal_manager/log_buffer/journal_log_buffer.cpp
  src/journal_manager/log_buffer/journal_log_buffer.h
  src/master_context/default_configuration.h
  src/metafs/config/metafs_config_manager.cpp
  src/metafs/config/metafs_config_manager.h
  src/metafs/include/metafs_aiocb_cxt.h
  src/metafs/metafs_file_intf.cpp
  src/metafs/mim/mdpage.cpp
  src/metafs/mim/mdpage.h
  src/metafs/mim/mdpage_control_info.h
  src/metafs/mim/mfs_async_runnable_template.h
  src/metafs/mim/mpio.cpp
  src/metafs/mim/mpio.h
  src/metafs/mim/mpio_allocator.cpp
  src/metafs/mim/mpio_allocator.h
  src/metafs/mim/read_mpio.cpp
  src/metafs/mim/read_mpio.h
  src/metafs/mim/write_mpio.cpp
  src/metafs/mim/write_mpio.h
  test/unit-tests/metafs/common/fifo_cache_test.cpp
  test/unit-tests/metafs/config/metafs_config_manager_mock.h
  test/unit-tests/metafs/config/metafs_config_manager_test.cpp
  test/unit-tests/metafs/include/metafs_aiocb_cxt_test.cpp
  test/unit-tests/metafs/lib/metafs_pool_test.cpp
  test/unit-tests/metafs/metafs_file_intf_test.cpp
  test/unit-tests/metafs/mim/mdpage_mock.h
  test/unit-tests/metafs/mim/mdpage_test.cpp
  test/unit-tests/metafs/mim/metafs_io_q_test.cpp
  test/unit-tests/metafs/mim/mio_test.cpp
  test/unit-tests/metafs/mim/mpio_handler_test.cpp
  test/unit-tests/metafs/mim/mpio_test.cpp
  test/unit-tests/metafs/mim/read_mpio_test.cpp
  test/unit-tests/metafs/mim/write_mpio_test.cpp
Labels: Meta, unit-testing

#512 [AWIBOF-7118] Add EasyTelemetryPublisher to publish metrics simply
  config/ibofos_for_perf_ci.conf
  config/ibofos_for_perf_ci_single_numa.conf
  config/ibofos_for_perf_psd.conf
  config/ibofos_for_perf_psd_200GB.conf
  config/ibofos_for_psd_ci.conf
  config/ibofos_for_psd_ci_wt.conf
  config/ibofos_for_vm_ci.conf
  config/ibofos_for_vm_ci_wt.conf
  config/longterm.conf
  config/pos.conf
  config/pos_for_aws.conf
  config/pos_for_fio_rebuild.conf
  config/pos_for_pm_qos.conf
  config/pos_multi_array_normal.conf
  config/pos_multi_array_perf.conf
  src/event/pos_event.yaml
  src/journal_manager/journal_manager.cpp
  src/journal_manager/log_write/log_write_handler.cpp
  src/journal_manager/log_write/log_write_handler.h
  src/main/poseidonos.cpp
  src/master_context/default_configuration.h
  src/telemetry/telemetry_client/easy_telemetry_publisher.cpp
  src/telemetry/telemetry_client/easy_telemetry_publisher.h
  src/telemetry/telemetry_client/pos_metric.cpp
  src/telemetry/telemetry_client/pos_metric.h
  test/integration-tests/telemetry/telemetry_client/CMakeLists.txt
  test/integration-tests/telemetry/telemetry_client/easy_telemetry_publisher_test.cpp
  test/unit-tests/journal_manager/log_write/log_write_handler_mock.h
  test/unit-tests/metafs/lib/metafs_time_interval_mock.h
  test/unit-tests/metafs/mim/metafs_io_scheduler_test.cpp
  test/unit-tests/telemetry/telemetry_client/CMakeLists.txt
  test/unit-tests/telemetry/telemetry_client/easy_telemetry_publisher_mock.h
  test/unit-tests/telemetry/telemetry_client/easy_telemetry_publisher_test.cpp
Labels: telemetry

#547 [AWIBOF-7396] Change prefix mf_ to meta_file_
  src/mapper/map/map_content.h
  src/meta_file_intf/meta_file_intf.h
  src/metafs/include/meta_file_context.h
  src/metafs/include/meta_file_dataformat.h
  src/metafs/include/meta_file_integrity_type.h
  src/metafs/include/meta_file_property.h
  src/metafs/include/metafs_control_request.h
  src/metafs/include/mf_property.h
  src/metafs/mai/metafs_wbt_api.h
  src/metafs/mdi/mdi_level_def.h
  src/metafs/mim/metafs_io_request.h
  src/metafs/mim/mpio_handler.h
  src/metafs/mvm/Makefile
  src/metafs/mvm/Makefile.mvm
  src/metafs/mvm/volume/catalog.h
  src/metafs/mvm/volume/file_descriptor_allocator.cpp
  src/metafs/mvm/volume/inode_creator.cpp
  src/metafs/mvm/volume/inode_creator.h
  src/metafs/mvm/volume/inode_deleter.cpp
  src/metafs/mvm/volume/inode_deleter.h
  src/metafs/mvm/volume/inode_manager.cpp
  src/metafs/mvm/volume/inode_manager.h
  src/metafs/mvm/volume/inode_table.h
  src/metafs/mvm/volume/meta_file_inode.cpp
  src/metafs/mvm/volume/meta_file_inode.h
  src/metafs/mvm/volume/meta_file_inode_req.h
  src/wbt/wbt_metafs_cmd_handler.h
  test/unit-tests/metafs/include/CMakeLists.txt
  test/unit-tests/metafs/include/meta_file_dataformat_mock.h
  test/unit-tests/metafs/include/meta_file_dataformat_test.cpp
  test/unit-tests/metafs/include/meta_file_integrity_type_mock.h
  test/unit-tests/metafs/include/meta_file_integrity_type_test.cpp
  test/unit-tests/metafs/include/meta_file_property_mock.h
  test/unit-tests/metafs/include/meta_file_property_test.cpp
  test/unit-tests/metafs/include/mf_integrity_type_mock.h
  test/unit-tests/metafs/include/mf_integrity_type_test.cpp
  test/unit-tests/metafs/include/mf_lock_type_test.cpp
  test/unit-tests/metafs/mvm/volume/CMakeLists.txt
  test/unit-tests/metafs/mvm/volume/meta_file_inode_mock.h
  test/unit-tests/metafs/mvm/volume/meta_file_inode_req_mock.h
  test/unit-tests/metafs/mvm/volume/meta_file_inode_req_test.cpp
  test/unit-tests/metafs/mvm/volume/meta_file_inode_test.cpp
Labels: Meta

#542 [AWIBOF-7364] Add nsid and role to volume in CREATEVOLUME command
  doc/guides/cli/poseidonos-cli_volume_create.md
  doc/troubleshooting/events.md
  proto/cli.proto
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  src/cli/command_processor.cpp
  src/cli/create_volume_command.cpp
  src/volume/i_volume_event_manager.h
  src/volume/i_volume_manager.h
  src/volume/volume.h
  src/volume/volume_base.cpp
  src/volume/volume_base.h
  src/volume/volume_creator.cpp
  src/volume/volume_creator.h
  src/volume/volume_manager.cpp
  src/volume/volume_manager.h
  src/volume/volume_service.h
  src/volume/volume_test.cpp
  test/unit-tests/volume/i_volume_event_manager_mock.h
  test/unit-tests/volume/i_volume_manager_mock.h
  test/unit-tests/volume/volume_base_test.cpp
  test/unit-tests/volume/volume_creator_test.cpp
  test/unit-tests/volume/volume_manager_mock.h
  test/unit-tests/volume/volume_manager_test.cpp
  tool/cli/cmd/pos_cli_syntax.ebnf
  tool/cli/cmd/volumecmds/create_volume.go
Labels: CLI

#549 [AWIBOF-7397] Refactor system commands
  doc/guides/cli/poseidonos-cli_system_set-property.md
  proto/cli.proto
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  tool/cli/cmd/systemcmds/get_system_property.go
  tool/cli/cmd/systemcmds/set_system_property.go
  tool/cli/cmd/systemcmds/start_system.go
  tool/cli/cmd/systemcmds/start_system_test.go
  tool/cli/cmd/systemcmds/stop_system.go
  tool/cli/cmd/systemcmds/system_info.go
Labels: refactoring, CLI

#559 [SHPOS-998] Fix display bug for ARRAYINFO command
  proto/cli.proto
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  src/cli/command_processor.cpp
  tool/cli/cmd/displaymgr/display_response.go
  tool/cli/cmd/displaymgr/display_response_test.go
Labels: bug, CLI

#560 [AWIBOF-7410] Update event logging guideline doc
  doc/development/design/log_management.md
  doc/development/guides/logging.md
Labels: documentation, log

#564 [SHPOS-999] Change MOUNTVOLUME and MOUNTVOLUMEWITHSUBSYSTEM commands to gRPC
  proto/cli.proto
  proto/generated/cpp/cli.grpc.pb.cc
  proto/generated/cpp/cli.grpc.pb.h
  proto/generated/cpp/cli.pb.cc
  proto/generated/cpp/cli.pb.h
  src/cli/command_processor.cpp
  src/cli/command_processor.h
  src/cli/grpc_cli_server.cpp
  tool/cli/cmd/grpcmgr/grpcmgr.go
  tool/cli/cmd/volumecmds/mount_volume.go
  tool/cli/cmd/volumecmds/mount_volume_with_subsystem.go
Labels: CLI, grpc

#569 [SHPOS-996] Fix performance degregation due to array info lock
  src/bio/volume_io.cpp
  src/bio/volume_io.h
  src/io/frontend_io/read_completion_for_partial_write.cpp
  src/io/frontend_io/write_completion.cpp
  src/io/frontend_io/write_completion.h
  src/io/frontend_io/write_submission.cpp
  src/io/frontend_io/write_submission.h
  src/io/general_io/translator.cpp
  src/io/general_io/translator.h
  src/volume/i_volume_info_manager.h
  src/volume/volume_manager.cpp
  src/volume/volume_manager.h
  test/unit-tests/bio/volume_io_test.cpp
  test/unit-tests/io/frontend_io/read_completion_for_partial_write_test.cpp
  test/unit-tests/io/frontend_io/read_submission_test.cpp
  test/unit-tests/io/frontend_io/write_completion_test.cpp
  test/unit-tests/io/frontend_io/write_submission_test.cpp
  test/unit-tests/io/general_io/translator_test.cpp
  test/unit-tests/volume/i_volume_info_manager_mock.h
Labels: IOPath

#581 [AWIBOF-7457] Fix volume manager coverity issue
  src/volume/volume_manager.cpp
Labels: IOPath

#580 [AWIBOF-7458] Revise help message for SETSYSTEMPROPERTY and CREATEARR…
  doc/guides/cli/poseidonos-cli_array_create.md
  doc/guides/cli/poseidonos-cli_system_set-property.md
  doc/troubleshooting/events.md
  tool/cli/cmd/arraycmds/create_array.go
  tool/cli/cmd/systemcmds/set_system_property.go
Labels: documentation, CLI

#582 [SHPOS-923] Fix buffer size and array index access during RAID6 decoding
  src/array/ft/raid6.cpp
  src/array/ft/raid6.h
Labels: SRM

#591 Restore RAID6 galois field table caching
  src/array/ft/raid6.cpp
  src/array/ft/raid6.h
Labels: SRM

#590 [AWIBOF-7471] fix assert of metafs
  src/metafs/common/meta_file_util.cpp
  src/metafs/common/meta_file_util.h
  test/unit-tests/metafs/common/meta_file_util_test.cpp
Labels: Meta

#588 Bugfix/awibof 7292 metafs io scheduler seg fault 2
  src/metafs/mim/metafs_io_scheduler.cpp
  src/metafs/mim/metafs_io_scheduler.h
  test/unit-tests/metafs/mim/metafs_io_scheduler_test.cpp
Labels: Meta

#595 [AWIBOF-7476] Fix admin_qpair nullptr error
  lib/spdk-22.01.1.patch
Labels: IOPath

#597 [SHPOS-977] fix journal data corruption
  doc/development/telemetry/METRICS.md
  src/metafs/mim/mio.cpp
  src/metafs/mim/mio_handler.cpp
  src/metafs/mim/mpio.cpp
  src/metafs/mim/mpio.h
  src/metafs/mim/mpio_allocator.cpp
  src/metafs/mim/mpio_allocator.h
  src/metafs/mim/write_mpio.cpp
  src/telemetry/telemetry_id.h
  test/unit-tests/metafs/mim/mpio_allocator_mock.h
  test/unit-tests/metafs/mim/mpio_allocator_test.cpp
  test/unit-tests/metafs/mim/mpio_mock.h
  test/unit-tests/metafs/mim/mpio_test.cpp
Labels: Meta

#601 [SHPOS-977] add waiting for free cache space
  src/metafs/mim/mio.cpp
  src/metafs/mim/mio.h
  src/metafs/mim/mpio_allocator.cpp
  src/metafs/mim/mpio_allocator.h
  test/unit-tests/metafs/mim/mpio_allocator_mock.h
Labels: Meta

#596 [AWIBOF-7399] Add burst filter to logger
  config/pos.conf
  src/logger/configuration.cpp
  src/logger/configuration.h
  src/logger/logger.h
  src/logger/preferences.cpp
  src/logger/preferences.h
  src/metafs/metafs_service.cpp
  test/unit-tests/logger/logger_test.cpp
Labels: log

#611 [AWIBOF-7500] Increase CLI timeout for MOUNTARRAY to 10 min.
  tool/cli/cmd/grpcmgr/grpcmgr.go
Labels: CLI
